body {
  font-family: "Raleway", sans-serif; /* закидываем скачанный шрифт, задаем фон и цвет текста во всем теле */
  background-color: rgb(245, 245, 245);
  color: black;
  margin: 0 auto;
  padding: 0;
  max-width: 1100px;
}

a {
  color: black;
}

article {
  height: 100%;
}

.header {
  /* оформляем грид, положение объектов в нем и размер шрифта */
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  justify-items: center;
  max-width: 1100px; /* задаем максимальную ширину */
  min-height: 293px;
  background-color: white;
  font-size: 18px;
  line-height: 18px;
}

.header-nav {
  /*задаем положение для навигации*/
  justify-self: start;
}

.nav-list {
  /*список для навигации*/
  list-style: none;
  padding-left: 50px;
  margin: 0;
  display: flex; /* делаем элемент flex-контейнером */
  gap: 24px;
  white-space: nowrap; /* все элементы в одну строку */
}

.nav-non-active-link {
  list-style: none;
}

.nav-link-active {
  /*псевдо-активная ссылка */
  border-bottom: 1px solid black;
  list-style-type: circle;
}

.bigger-font-size-link {
  /* ссылка с увеличенным шрифтом */
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
}

.header-logo {
  align-items: center; /*задаем положение логотипа??? мб зря добавляла, ничего не меняет*/
}

.header-img {
  /* размеры картинки с шаблона*/
  height: 105px;
  width: 148px;
}

.header-address {
  /*задаем положение адрессам*/
  font-size: 18px;
  display: flex;
  align-items: flex-start;
  max-width: 240px;
  line-height: 23px;
}

.no-deco {
  /* для строк, в которых не нужны точки и прочие метки*/
  list-style-type: none;
  padding: 0; /* убираем стандартные отступы */
  margin: 0 auto;
  line-height: 1.35; /* межстрочный интервал */
}

.cover::before {
  /*этот класс дался с ОЧЕНЬ большой болью*/
  content: "";
  position: absolute;
  top: 0; /* прижимаем элемент к родительскому */
  left: 0; /* прижимаем элемент к родительскому */
  height: 100%; /* высота растянута  */
  width: 100%; /* ширина растянута */
  background-color: rgba(
    0,
    0,
    0,
    0.6
  ); /* полупрозрачный черный фон в 60%(см. фигму) */
  z-index: 1; /* помещаем элемент ниже текста, чтобы он тоже не затемнялся */
}

.cover {
  max-width: 1100px;
  min-height: 757px;
  margin: 0 auto;
  position: relative;
  display: flex; /* делаем элемент flex-контейнером */
  flex-direction: column;
  justify-content: space-between;
  background-size: cover; /* пусть картинка покрывает все пространство */
  background-image: url(../images/cover.jpg); /* задаем картинку для cover */
  background-repeat: no-repeat; /* не повторяем картинку */
  box-sizing: border-box; /* чтобы паддинги не влияли на размер элемента */
  background-color: white;
}

.cover-box {
  padding-top: 165px;
  padding-left: 50px;
  padding-right: 50px;
  z-index: 2;
}

.cover-title {
  font-size: 100px;
  letter-spacing: 0.3em; /* расстояние между буквами */
  font-weight: 700;
  line-height: 115px;
  text-transform: uppercase;
  color: white;
  z-index: 2; /* помещаем текст поверх псевдоэлемента */
}

.cover-title-align {
  /* класс для выравнивания заголовка */
  display: block;
}

.padding-tebe { /*надо как-то альтернативу придумать, а то как на коленках настраивать*/
  padding-top: 20px;
  padding-left: 30px;

}

.padding-nado {
  padding-top: 20px;
  padding-left: 612px;
}

.cover-title-align-start {
  /* в начало */
  text-align: start;
}

.cover-title-align-center {
  /* по центру */
  text-align: center;
}

.cover-title-align-end {
  /* в конец */
  text-align: end;
}

.cover-one-row {
  display: flex; /* делаем элемент flex-контейнером */
  flex-direction: row; /* выстраиваем элементы в строку */
  justify-content: space-between;
  align-items: center;
}

.cover-description {
  padding: 50px;
  font-size: 22px;
  line-height: 28px;
  font-weight: 400;
  word-spacing: 0.9em; /* размер пробелов */
  color: white;
  text-transform: uppercase;
  white-space: nowrap; /* чтобы текст не переносился */
  z-index: 2; /* помещаем текст поверх псевдоэлемента */
}

.link-white {
  color: white;
  text-decoration: none; /* убираем подчеркивание */
}

.link-black {
  color: black;
  text-decoration: none; /* убираем подчеркивание */
}

.button-bet {
  /*ДА КАК ЕЕ СДЕЛАТЬ ОНА ЕДЕТ ПОСТОЯННО КРИК ДУШИ ПРОСТО */
  margin: 0 auto;
  padding: 0;
  width: 256px;
  height: 51px;
  background: transparent; /* прозрачный фон */
  word-spacing: 0px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid white; /* белая рамка */
  color: white; /* белый цвет текста */
  font-size: 22px; /* размер шрифта */
  text-transform: uppercase;
  line-height: 100%;
  cursor: pointer;
  position: relative;
  z-index: 2; /* помещаем кнопку поверх псевдоэлемента */
}

.lots {
  /* стили для лотов */
  padding-top: 400px 24px;
  background-color: white;
  z-index: 1;
}

.lots-list {
  /* стили для лотов */
  display: grid; /* делаем элемент грид-контейнером */
  grid-template-columns: repeat(
    3,
    minmax(334px, 1fr)
  ); /* колонки с минимальной шириной 334px(см. фигму) */
  max-width: 1052px;
  gap: 30px; /* расстояние между лотами(допустим, столько же, сколько в макете(проверить!!!)) */
  padding: 24px; /* отступы вокруг лотов */
}

.lots-item-cinema::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.lots-item-cinema {
  background-image: url(../images/card-lot-01.jpg);
  height: 596px; /* высота лота */
  background-size: cover; /* картинка должна покрывать весь элемент */
  background-position: center;
  background-repeat: no-repeat; /* не повторяем картинку */
  position: relative;
  z-index: 1;
}

.lots-item-book::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.lots-item-book {
  background-image: url(../images/card-lot-02.jpg);
  height: 596px; /* высота лота */
  background-size: cover; /* картинка должна покрывать весь элемент */
  background-repeat: no-repeat; /* не повторяем картинку */
  background-position: center;
  position: relative;
  z-index: 1;
}

.lots-item-painting::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.lots-item-painting {
  background-image: url(../images/card-lot-03.jpg);
  height: 596px; /* высота лота */
  background-size: cover; /* картинка должна покрывать весь элемент */
  background-repeat: no-repeat; /* не повторяем картинку */
  background-position: center;
  position: relative;
  z-index: 1;
}

.lots-title {
  padding-top: 200px;
  padding-left: 40px;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.lots-description-h {
  color: white;
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 48px;
  text-decoration: underline;
  text-transform: uppercase;
  z-index: 2; /* помещаем текст поверх псевдоэлемента */
}

.lots-description {
  position: absolute;
  bottom: 0;
  color: white;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 48px;
  z-index: 2; /* помещаем текст поверх псевдоэлемента */
}

.lots-item-img {
  max-width: 334px;
  background-position: center;
}

.about {
  margin: 0 auto; /* выравниваем по центру */
  display: grid;
  grid-template-columns: 1fr 2fr; /* две колонки с разными габаритами*/
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 200px; /* отступ сверху визуально(найти актуальное значение через проверку) */
  background-color: white;
  font-size: 20px;
  line-height: 24px;
}

.background-logo {
  background-color: black;
  width: 240px;
  height: 240px;
  border-radius: 50%; /* делаем круг */
  display: flex;
  justify-content: center; /* выравниваем по центру */
  align-items: center; /* выравниваем по центру */
}

.white-logo {
  margin: auto; /* выравниваем по центру */
  max-width: 148px;
}

.about-title {
  font-size: 40px;
  line-height: 31px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
}

.about-text {
  max-width: 693px;
  padding-top: 150px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.par-2 {
  padding-top: 20px; /* примерный отступ, сравнить в пискельперфект */
}
.footer {
  padding-top: 180px; /* отступ сверху визуально(найти актуальное значение через проверку) */
  max-width: 1100px; /* задаем максимальную ширину */
  min-height: 180px;
  margin: 0 auto; /* выравниваем по центру */
  background-color: white;
  color: black;
  display: grid; /* делаем элемент грид-контейнером */
  grid-template-columns: 1fr 1fr 1fr; /* три колонки */
  align-items: center; /* выравниваем по центру */
}

.footer-address {
  /* стили для адреса в футере */
  padding-left: 50px; /* отступ слева */
  max-width: 265px;
}

.footer-nav {
  /* стили для навигации в футере */
  display: flex; /* делаем элемент flex-контейнером */
  flex-direction: column; /* выстраиваем элементы в столбик */
  text-align: center;
  align-items: center;
}

.socials {
  /* стили для социальных сетей */
  display: grid; /* делаем элемент грид-контейнером */
  grid-template-columns: repeat(3, 1fr); /* три колонки */
}

.socials-img {
  max-width: 48px;
}
