/* место для вашего кода */
body {
  font-family: Raleway, sans-serif;
  background-color: rgb(245, 245, 245);
  color: black;
  margin: 0;
  padding: 0;
}

.header {
  display: grid;
  margin: 0 auto;
  text-align: center;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  max-width: 1100px;
  max-height: 293px;
  background-color: white;
  color: black;
  align-items: center;
  justify-items: center;
  padding: auto;
}
.header-img {
  height: 105px;
  width: 148px;
  justify-self: center;
}

.header-nav {
  display: flex;
  flex-direction: row;
  justify-self: start;
  color: black;
}

.header-address {
  display: flex;
  justify-self: end;
  text-align: right;
  flex-direction: column;
}
